@page
@model BackendServer.Pages.Account.LogoutModel

<h2>Logging out...</h2>

<p>You are being logged out...</p>
<form method="post">
    <button type="submit" class="btn btn-danger">Log out</button>
</form>